.categoriesMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        margin: 30px 0 50px;
        font-size: 2.1em;
        font-weight: normal;
        @media (min-width: $breakpoint) {
            margin:  80px 0 60px;
            font-size: 2.5em;
        }
    }
    .categoriesDiv {
        width: 100%;
        min-height: calc(100vh - 190px);
        border-radius: 25px;
        box-shadow: 0 0 10px #ddd;
        position: relative;
        @media (min-width: $breakpoint) {
            width: 90%;
            padding: 0 50px 50px;
            margin-bottom: 50px;
        }
        .typeBtns {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 20px 25px 0;
            @media (min-width: $breakpoint) {
                padding: 25px;
            }
            > div {
                width: 48%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                padding: 0 10px;
                font-size: 20px;
                @media (min-width: $breakpoint) {
                    padding-bottom: 10px;
                    font-size: 24px;
                }
                &.activeType {
                    border-bottom: 2px solid $color1;
                }
            }
        }
        > div {
            display: flex;
            overflow: hidden;
            padding: 0 20px 25px;
            @media (min-width: $breakpoint) {
                padding: 0;
            }
            .allCategories {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                margin-top: 30px;
                grid-row-gap: 20px;
                min-width: calc(100vw - 50px);
                position: relative;
                @media (min-width: $breakpoint) {
                    min-width: calc(100%);
                }
                &.expSec {
                    transform: translateX(-100vw);
                    transition: transform 0.3s linear;
                    &.activeSection {
                        transform: translateX(0);
                        transition: transform 0.45s linear;
                    }
                }
                &.incSec {
                    transform: translateX(100vw);
                    transition: transform 0.3s linear;
                    &.activeSection {
                        transform: translateX(-86vw);
                        transition: transform 0.45s linear;
                        @media (min-width: $breakpoint) {
                            transform: translateX(-100%);
                        }
                    }
                }
                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 60px;
                    margin-left: 7px;
                    @media (min-width: $breakpoint) {
                        width: inherit;
                    }
                    div {
                        width: 55px;
                        height: 55px;
                        border-radius: 30px;
                        background-color: $color2;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @media (min-width: $breakpoint) {
                            width: 90px;
                            height: 90px;
                            border-radius: 60px;
                        }
                        img {
                            width: 18px;
                            height: 18px;
                            @media (min-width: $breakpoint) {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                    .categoryName {
                        font-size: 14px;
                        margin: 10px 0;
                        text-transform: capitalize;
                        @media (min-width: $breakpoint) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .opsByCategory {
            width: 100%;
            min-height: calc(100vh - 240px);
            padding: 30px 0;
            position: absolute;
            top: 60px;
            flex-direction: column;
            align-items: center;
            color: #fff;
            z-index: 10;
            background-color: $color1;
            overflow: auto;
            @media (min-width: $breakpoint) {
                left: 0;
            }
            > .comeBackBtn {
                position: absolute;
                left: 20px;
                top: 40px;
                width: 15px;
                height: 15px;
                @media (min-width: $breakpoint) {
                    top: 60px;
                    left: 60px;
                    width: 25px;
                    height: 25px;
                }
            }
            .iconImg {
                width: 55px;
                height: 55px;
                border-radius: 40px;
                background-color: $color2;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (min-width: $breakpoint) {
                    width: 70px;
                    height: 70px;
                }
                img {
                    width: 18px;
                    height: 18px;
                    @media (min-width: $breakpoint) {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
            > .categoryName {
                font-size: 18px;
                margin: 20px 0 30px;
                text-transform: uppercase;
                @media (min-width: $breakpoint) {
                    font-size: 1.6em;
                    margin: 20px 0 30px;
                }
            }
            .allOperations {
                width: 100%;
                li {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    padding: 0 30px;
                    align-items: center;
                    position: relative;
                    background-color: #1b4f8f;
                    margin-bottom: 10px;
                    @media (min-width: $breakpoint) {
                        height: 60px;
                        font-size: 1.5em;
                    }
                    .dateOp {
                        color: #fff;
                    }
                    .categoryName {
                        margin: 0 20px;
                        text-transform: capitalize;
                        @media (min-width: $breakpoint) {
                            padding-left: 20px;
                            border-left: 2px solid #fff;
                            margin: 0;
                        }
                    }
                    .amountOp {
                        position: absolute;
                        right: 30px;
                    }
                }
            }
        }
    }
}
