.operationsMain {
    .operationsSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: $breakpoint) {
            padding: 0 50px;
        }
        h2 {
            margin: 40px;
            font-size: 2.1em;
            font-weight: normal;
            @media (min-width: $breakpoint) {
                margin:  80px 0 60px;
                font-size: 2.5em;
            }
        }
        .typeBtns {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: -2px;
            @media (min-width: $breakpoint) {
                justify-content: flex-start;
            }
            > div {
                width: 48%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (min-width: $breakpoint) {
                    width: 20%;
                    font-size: 22px;
                    height: 60px;
                }
                &.activeType {
                    border-radius: 15px 15px 0 0;
                    background-color: $color1;
                    color: #fff;
                    @media (min-width: $breakpoint) {
                        border-radius: 0;
                    }
                }
            }
        }
        > div.ctnOp {
            display: flex;
            width: 100%;
            overflow: hidden;
            background-color: $color1;
            position: relative;
            &.fixedHeight {
                max-height: 500px;
            }
            .opSelectedDetails {
                padding: 30px 20px;
                position: sticky;
                top: 0;
                z-index: 5;
                min-height: calc(100vh - 220px);
                min-width: 100vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $color1;
                color: #fff;
                @media (min-width: $breakpoint) {
                    padding: 60px;
                    min-width: calc(100vw - 25% - 100px);
                }
                .comeBackBtn {
                    position: absolute;
                    left: 20px;
                    top: 40px;
                    width: 15px;
                    height: 15px;
                    @media (min-width: $breakpoint) {
                        top: 60px;
                        left: 60px;
                        width: 25px;
                        height: 25px;
                    }
                }
                .iconCateg {
                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                    background-color: $color2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (min-width: $breakpoint) {
                        width: 70px;
                        height: 70px;
                    }
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
                .categoryName {
                    font-size: 1.3em;
                    margin: 10px 0;
                    text-transform: capitalize;
                    @media (min-width: $breakpoint) {
                        font-size: 1.6em;
                        margin: 20px 0 30px;
                    }
                }
                .totalOp {
                    input {
                        background-color: transparent;
                        border-bottom: 2px solid #fff;
                        color: #fff;
                        font-size: 28px;
                        width: 150px;
                        text-align: center;
                        margin: 10px;
                        @media (min-width: $breakpoint) {
                            font-size: 36px;
                        }
                    }
                }
                .dateOp {
                    background-color: transparent;
                    text-align: center;
                    color: #fff;
                    margin: 10px 0 30px;
                    text-decoration: underline;
                    @media (min-width: $breakpoint) {
                        font-size: 1.2em;
                    }
                }
                .commentsDiv {
                    width: 100%;
                    @media (min-width: $breakpoint) {
                        width: 60%;
                    }
                    p {
                        margin-bottom: 10px;
                        @media (min-width: $breakpoint) {
                            font-size: 20px;
                        }
                    }
                    textarea {
                        width: 100%;
                        padding: 20px;
                        height: 110px;
                        border-radius: 15px;
                        font-size: 14px;
                        @media (min-width: $breakpoint) {
                            height: 200px;
                            font-size: 20px;
                        }
                    }
                }
                .btnsDiv {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 15px;
                    @media (min-width: $breakpoint) {
                        width: 60%;
                        margin-top: 30px;
                    }
                    button {
                        margin-left: 10px;
                        width: 100px;
                        height: 30px;
                        border-radius: 10px;
                        background-color: transparent;
                        color: #fff;
                        @media (min-width: $breakpoint) {
                            width: 170px;
                            height: 50px;
                            border-radius: 20px;
                            font-size: 20px;
                        }
                        &.deleteBtn {
                            background-color: $red;
                        }
                        &:active {
                            background-color: $color3;
                        }
                    }
                }
            }
            .detailsOpSection {
                min-width: 100vw;
                min-height: calc(100vh - 140px);
                padding: 40px 25px;
                position: relative;
                background-color: $color1;
                color: #fff;
                @media (min-width: $breakpoint) {
                    min-width: calc(100vw - 25% - 100px);
                    padding: 60px;
                }
                .addOp {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 60px;
                    right: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 25px;
                    background-color: $color2;
                    box-shadow: 0 0 5px #000;
                    @media (min-width: $breakpoint) {
                        width: 50px;
                        height: 50px;
                        right: 75px;
                        top: 100px;
                    }
                    i {
                        color: #fff;
                        font-size: 20px;
                    }
                    &:active {
                        background-color: $color3;
                    }
                }
                &.expSec {
                    transform: translateX(-100vw);
                    transition: transform 0.3s linear;
                    &.activeSection {
                        transform: translateX(0);
                        transition: transform 0.45s linear;
                    }
                }
                &.incSec {
                    transform: translateX(100vw);
                    transition: transform 0.3s linear;
                    &.activeSection {
                        transform: translateX(-100vw);
                        transition: transform 0.45s linear;
                        @media (min-width: $breakpoint) {
                            transform: translateX(calc(-100vw + 25% + 100px));
                        }
                    }
                }
                .infoOp {
                    .dateOp {
                        text-decoration: underline;
                        color: #fff;
                    }
                    .totalOp {
                        margin: 20px 0;
                        font-size: 2.2em;
                        @media (min-width: $breakpoint) {
                            font-size: 3em;
                        }
                    }
                }
                .allOperations {
                    margin-top: 40px;
                    position: relative;
                    h3 {
                        font-weight: normal;
                        font-size: 16px;
                        @media (min-width: $breakpoint) {
                            font-size: 20px;
                            padding: 10px 0;
                            border-bottom: 2px solid $color3;
                        }
                    }

                    .operationsList {
                        margin-top: 20px;
                        width: 100%;
                        .operation {
                            padding: 7px 0px;
                            display: flex;
                            width: 100%;
                            position: relative;
                            align-items: center;
                            font-size: 20px;
                            @media (min-width: $breakpoint) {
                                padding: 10px 0;
                            }
                            .dateOp {
                                color: #fff;
                            }
                            .iconCateg {
                                width: 40px;
                                height: 40px;
                                border-radius: 25px;
                                background-color: $color2;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 20px;
                                @media (min-width: $breakpoint) {
                                    width: 50px;
                                    height: 50px;
                                }
                                img {
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                            .nameCateg {
                                text-transform: capitalize;
                                font-size: 18px;
                                @media (min-width: $breakpoint) {
                                    font-size: 24px;
                                }
                            }
                            .amountOp {
                                position: absolute;
                                right: 5px;
                                .amount {
                                    font-size: 18px;
                                    @media (min-width: $breakpoint) {
                                        font-size: 24px;
                                    }
                                    &::before {
                                        content: "$";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
