//FONTS

@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

$font1: "Questrial", sans-serif;
//COLORS

$color1: #0f2f57;
$color2: #008891;
$color3: #cae6e8;
$red: #be2323;
$green: #3db033;

//animations

@keyframes slideIn {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideOut {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100vw);
    }
}
